﻿@model IEnumerable<EncryptionDatabaseFirst.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <!--@Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | -->
            <!--@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | -->
            <!--@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
        </td>
    </tr>
}

</table>
